.text {
  &--h1 {
    font-size: var(--h1-font-size);
    line-height: var(--h1-line-height);
    font-weight: 600;
  }

  &--h2 {
    font-size: var(--h2-font-size);
    line-height: var(--h2-line-height);
    font-weight: 600;
  }

  &--h3 {
    font-size: var(--h3-font-size);
    line-height: var(--h3-line-height);
    font-weight: 600;
  }

  &--caption {
    font-size: var(--caption-font-size);
    line-height: var(--caption-line-height);
  }

  &--center {
    text-align: center;
  }

  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;
  }

  &--primary {
    color: var(--primary-text-color);
  }

  &--secondary {
    color: var(--secondary-text-color);
  }

  &--accent {
    color: var(--primary-color);
  }

  &--regular {
    font-weight: 400;
  }

  &--medium {
    font-weight: 500;
  }

  &--bold {
    font-weight: 600;
  }

  &--break {
    word-break: break-word;
  }

  &--white {
    color: hsl(0, 0%, 100%);
  }

  &--nowrap {
    white-space: nowrap;
  }
}
